In [1]:
# pandas
# %pip install pandas 

import pandas as pd

In [13]:
# series 

data = ['apple', 'brinjal', 'banana', 'carrot']

for i in range (len(data)):
    print(f'{i} {data[i]}')

0 apple
1 brinjal
2 banana
3 carrot

In [14]:
data1 = pd.Series(data)
print(data1)  
print('-------------------------------------------------------------------------')
indexx = ['fruit','vegetable','fruit','vegetable']     
s = pd.Series(data, index = indexx)
print(s)

0      apple
1    brinjal
2     banana
3     carrot
dtype: object
-------------------------------------------------------------------------
fruit          apple
vegetable    brinjal
fruit         banana
vegetable     carrot
dtype: object

In [19]:
import numpy as np

data = [23,24,25,np.nan,27,28]
pd.Series(data)

1    23.0
2    24.0
3    25.0
4     NaN
5    27.0
6    28.0
dtype: float64

In [32]:
d = ['phone', 'clothes', 'cosmetics']
s = pd.Series(d) 
print(d)
print('-----------------------------------------------------------')

print(s)

print('-----------------------------------------------------------')
index7 = [1,2,3]
ind = pd.Series(d ,  index = index7)
print(ind)

['phone', 'clothes', 'cosmetics']
-----------------------------------------------------------
0        phone
1      clothes
2    cosmetics
dtype: object
-----------------------------------------------------------
1        phone
2      clothes
3    cosmetics
dtype: object