In [1]:
# date - 29/10/2025
import pandas as pd

In [13]:
# Dataframe
# data prsent in dict form
data = {
        'Name':['Tushar', 'vaibhav', 'tisha', 'kavya','Deep','sushant'],
        'Age':[22,21,20,22,23,24],
        'City':['Mumbai',' Goa', 'Gujrat', 'Tamil nadu', 'Delhi', 'Hydrebad']
}
print(data)

{'Name': ['Tushar', 'vaibhav', 'tisha', 'kavya', 'Deep', 'sushant'], 'Age': [22, 21, 20, 22, 23, 24], 'City': ['Mumbai', ' Goa', 'Gujrat', 'Tamil nadu', 'Delhi', 'Hydrebad']}

In [14]:
f = pd.DataFrame(data)
print(f)

      Name  Age        City
0   Tushar   22      Mumbai
1  vaibhav   21         Goa
2    tisha   20      Gujrat
3    kavya   22  Tamil nadu
4     Deep   23       Delhi
5  sushant   24    Hydrebad

In [22]:
# data are present in list form

data1 = [
       ['Rahul',23,'Tokyo'],
       ['joy',20,'Jaipur'],
        ['adrsh',25,'mumbai']
]
col = ['name', 'age' , 'city']      # in list we define the columns name
df = pd.DataFrame(data1, columns = col)
print(df)

    name  age    city
0  Rahul   23   Tokyo
1    joy   20  Jaipur
2  adrsh   25  mumbai

In [ ]:
# df = pd.read_excel('data.xlsx')
# df = pd.read_json('data.json')

In [29]:
credit_data = pd.read_csv('C:/Users/user/Downloads/credit_card_transactions.csv')
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland

In [32]:
# first 5 data
print(credit_data.head())
print('--------------------------------------------------------------------------')
#last five data
print(credit_data.tail())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0          100000         4452       2023-01-01           Online  Walmart
1          100001         2775       2023-01-01              ATM  BestBuy
2          100002         2259       2023-01-01   Mobile Payment     Uber
3          100003         4545       2023-01-01           Online  BestBuy
4          100004         2137       2023-01-01              ATM   Amazon

   Category   Amount Payment_Mode Transaction_Status       Location
0    Travel  4520.70   Debit Card           Approved      Jonesport
1    Travel  1437.85   Debit Card           Approved  Port Jennifer
2  Clothing  3320.52       PayPal           Approved     Port James
3    Travel  2659.96   Debit Card           Approved     Hawkinston
4    Travel  2517.07   Debit Card           Approved    Matthewland
--------------------------------------------------------------------------
      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
5495          105495         3262       2023-08-17              ATM
5496          105496         1234       2023-08-18              POS
5497          105497         3978       2023-08-18           Online
5498          105498         3082       2023-08-18              ATM
5499          105499         2271       2023-08-18   Mobile Payment

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
5495  Apple Store         Travel  4554.82   Debit Card           Approved
5496         Uber         Travel  4118.51   Debit Card           Approved
5497  Apple Store       Clothing  2981.13          UPI           Approved
5498         Uber       Clothing  2168.39   Debit Card           Approved
5499      Netflix  Entertainment  1918.66          UPI           Approved

               Location
5495   South Hannahtown
5496     South Courtney
5497           Rubenton
5498     East Brianfurt
5499  New Stephaniebury

In [38]:
#check the datatypes

print(credit_data.dtypes)

Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [49]:
#check information

print(credit_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5500 non-null   int64
 1   Customer_ID         5500 non-null   int64
 2   Transaction_Date    5500 non-null   object
 3   Transaction_Type    5500 non-null   object
 4   Merchant            5500 non-null   object
 5   Category            5500 non-null   object
 6   Amount              5500 non-null   float64
 7   Payment_Mode        5500 non-null   object
 8   Transaction_Status  5500 non-null   object
 9   Location            5500 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 429.8+ KB
None

In [34]:
# describe the dataframe

print(credit_data.describe())

       Transaction_ID  Customer_ID       Amount
count     5500.000000  5500.000000  5500.000000
mean    102749.500000  2989.954182  2492.109224
std       1587.857571  1153.928878  1444.493842
min     100000.000000  1000.000000     6.550000
25%     101374.750000  1988.000000  1236.935000
50%     102749.500000  3000.000000  2502.405000
75%     104124.250000  3990.000000  3767.957500
max     105499.000000  4998.000000  4997.490000

In [52]:
# shape of the dataframe
print(credit_data.shape)

(5500, 10)

In [44]:
# Column names

print(credit_data.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location'],
      dtype='object')

In [43]:
# 
data_columns = credit_data.columns.tolist()
for i in data_columns:
    print(i)

Transaction_ID
Customer_ID
Transaction_Date
Transaction_Type
Merchant
Category
Amount
Payment_Mode
Transaction_Status
Location

In [45]:
# indexes of dataframe

print(credit_data.index)

RangeIndex(start=0, stop=5500, step=1)

In [46]:
# selecting data
print(credit_data['Amount'])

0       4520.70
1       1437.85
2       3320.52
3       2659.96
4       2517.07
         ...
5495    4554.82
5496    4118.51
5497    2981.13
5498    2168.39
5499    1918.66
Name: Amount, Length: 5500, dtype: float64

In [48]:
# for multiple columns
# 1 methods
print(credit_data[['Amount','Location']])

# 2 methods

       Amount           Location
0     4520.70          Jonesport
1     1437.85      Port Jennifer
2     3320.52         Port James
3     2659.96         Hawkinston
4     2517.07        Matthewland
...       ...                ...
5495  4554.82   South Hannahtown
5496  4118.51     South Courtney
5497  2981.13           Rubenton
5498  2168.39     East Brianfurt
5499  1918.66  New Stephaniebury

[5500 rows x 2 columns]

In [54]:
# row by index

print(credit_data.iloc[2])

Transaction_ID                100002
Customer_ID                     2259
Transaction_Date          2023-01-01
Transaction_Type      Mobile Payment
Merchant                        Uber
Category                    Clothing
Amount                       3320.52
Payment_Mode                  PayPal
Transaction_Status          Approved
Location                  Port James
Name: 2, dtype: object

In [56]:
# slicing methods

# select row 100 to 110
print(credit_data.iloc[100:111])

     Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
100          100100         1145       2023-01-05   Mobile Payment
101          100101         3025       2023-01-05           Online
102          100102         1522       2023-01-05   Mobile Payment
103          100103         2210       2023-01-05              ATM
104          100104         4100       2023-01-05              ATM
105          100105         3849       2023-01-05   Mobile Payment
106          100106         2753       2023-01-05              POS
107          100107         3847       2023-01-05              POS
108          100108         1638       2023-01-05              ATM
109          100109         3890       2023-01-05           Online
110          100110         1894       2023-01-05           Online

        Merchant       Category   Amount Payment_Mode Transaction_Status  \
100         Uber      Groceries  1277.06       PayPal           Declined
101       Target       Clothing   395.01       PayPal           Approved
102      BestBuy       Clothing  1875.28   Debit Card           Approved
103  Apple Store         Travel  2451.38       PayPal           Approved
104      Walmart         Dining   149.46       PayPal           Declined
105      Walmart  Entertainment  3571.00   Debit Card           Approved
106       Target    Electronics  1643.06   Debit Card           Approved
107  Apple Store       Clothing   155.60       PayPal           Approved
108         Uber       Clothing  1326.21          UPI           Approved
109      Netflix      Groceries   987.94       PayPal           Approved
110  Apple Store         Travel  1284.68  Credit Card           Approved

                  Location
100       Christophermouth
101            Robertmouth
102  East Christopherburgh
103           Michaelmouth
104            Justinshire
105        Port Stevenside
106               Jamieton
107             Blairmouth
108            Rosarioport
109            Lake Dennis
110             West Tyler

In [58]:
# it print the columns values
print(credit_data.iloc[:,3])   # 3 - transaction

0               Online
1                  ATM
2       Mobile Payment
3               Online
4                  ATM
             ...
5495               ATM
5496               POS
5497            Online
5498               ATM
5499    Mobile Payment
Name: Transaction_Type, Length: 5500, dtype: object

In [61]:
print(credit_data.loc[0:10,['Amount','Location']])

     Amount            Location
0   4520.70           Jonesport
1   1437.85       Port Jennifer
2   3320.52          Port James
3   2659.96          Hawkinston
4   2517.07         Matthewland
5   2032.91  West Patriciamouth
6   2309.06           Scottport
7    334.82            Shawview
8    374.29        Port Lindsay
9   1117.12      Lake Steveport
10  1908.74         Ginachester

In [62]:
# condito=ional selection

#print rows where Amout > 5000
print(credit_data[credit_data['Amount'] > 4000])

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0             100000         4452       2023-01-01           Online
11            100011         4816       2023-01-01   Mobile Payment
20            100020         1337       2023-01-01              POS
22            100022         3057       2023-01-01           Online
24            100024         2551       2023-01-02              ATM
...              ...          ...              ...              ...
5465          105465         3262       2023-08-16   Mobile Payment
5481          105481         1685       2023-08-17   Mobile Payment
5491          105491         3258       2023-08-17   Mobile Payment
5495          105495         3262       2023-08-17              ATM
5496          105496         1234       2023-08-18              POS

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
0         Walmart         Travel  4520.70   Debit Card           Approved
11        Netflix      Groceries  4530.51       PayPal           Approved
20           Uber         Dining  4684.13       PayPal           Approved
22        BestBuy      Groceries  4094.49       PayPal           Approved
24           Uber      Groceries  4013.36   Debit Card           Approved
...           ...            ...      ...          ...                ...
5465      BestBuy      Groceries  4069.02  Credit Card           Approved
5481      Netflix  Entertainment  4518.16  Credit Card           Approved
5491      Netflix      Groceries  4860.84   Debit Card           Approved
5495  Apple Store         Travel  4554.82   Debit Card           Approved
5496         Uber         Travel  4118.51   Debit Card           Approved

              Location
0            Jonesport
11        Petersonbury
20       Nicholsonside
22        West Kenneth
24        Timothyville
...                ...
5465         Arnoldton
5481     West Judystad
5491        West James
5495  South Hannahtown
5496    South Courtney

[1110 rows x 10 columns]

In [70]:
# print row amount > 4000 with transaction type = online

print(credit_data[(credit_data['Amount'] > 4000) & (credit_data['Transaction_Type'] == 'Online')])

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
0             100000         4452       2023-01-01           Online
22            100022         3057       2023-01-01           Online
26            100026         4254       2023-01-02           Online
27            100027         1719       2023-01-02           Online
34            100034         2424       2023-01-02           Online
...              ...          ...              ...              ...
5326          105326         1662       2023-08-10           Online
5341          105341         2011       2023-08-11           Online
5395          105395         3551       2023-08-13           Online
5446          105446         4468       2023-08-15           Online
5461          105461         1140       2023-08-16           Online

         Merchant       Category   Amount Payment_Mode Transaction_Status  \
0         Walmart         Travel  4520.70   Debit Card           Approved
22        BestBuy      Groceries  4094.49       PayPal           Approved
26        BestBuy         Travel  4054.78  Credit Card           Approved
27        Walmart  Entertainment  4471.68          UPI            Pending
34         Target      Groceries  4074.73       PayPal           Approved
...           ...            ...      ...          ...                ...
5326       Target    Electronics  4020.44  Credit Card           Approved
5341  Apple Store         Dining  4532.78  Credit Card           Approved
5395       Target         Dining  4540.80  Credit Card            Pending
5446      Walmart         Dining  4124.70  Credit Card           Declined
5461  Apple Store  Entertainment  4027.18       PayPal           Approved

                Location
0              Jonesport
22          West Kenneth
26          Stevensmouth
27           Riveramouth
34        North Marytown
...                  ...
5326  South Adrianaburgh
5341           Allenland
5395          Floresview
5446         Cartermouth
5461   South Lorichester

[291 rows x 10 columns]

In [73]:
# find amount = 2000 and category = clothes and transaction = online
print(credit_data[(credit_data['Amount'] > 4000) & (credit_data['Category'] == 'Clothing') & (credit_data['Transaction_Type'] == 'Online')])

# file save in csv

new_recoord.to_csv('new_recoord.csv', index = False)

      Transaction_ID  Customer_ID Transaction_Date Transaction_Type  \
405           100405         4812       2023-01-17           Online
429           100429         3036       2023-01-18           Online
659           100659         2262       2023-01-28           Online
785           100785         2318       2023-02-02           Online
1025          101025         4542       2023-02-12           Online
1027          101027         4510       2023-02-12           Online
1126          101126         1981       2023-02-16           Online
1457          101457         3957       2023-03-02           Online
1658          101658         3031       2023-03-11           Online
1659          101659         4627       2023-03-11           Online
1690          101690         2758       2023-03-12           Online
2061          102061         1747       2023-03-27           Online
2107          102107         2812       2023-03-29           Online
2292          102292         1906       2023-04-06           Online
2308          102308         1818       2023-04-07           Online
2719          102719         4881       2023-04-24           Online
2737          102737         2243       2023-04-25           Online
2875          102875         3519       2023-04-30           Online
2910          102910         1406       2023-05-02           Online
2922          102922         4213       2023-05-02           Online
3176          103176         4961       2023-05-13           Online
3183          103183         1124       2023-05-13           Online
3339          103339         2046       2023-05-20           Online
3467          103467         1323       2023-05-25           Online
3565          103565         1946       2023-05-29           Online
3583          103583         1445       2023-05-30           Online
3667          103667         4556       2023-06-02           Online
3886          103886         4817       2023-06-11           Online
3995          103995         3160       2023-06-16           Online
4165          104165         3956       2023-06-23           Online
4217          104217         3713       2023-06-25           Online
4289          104289         2145       2023-06-28           Online
4445          104445         2195       2023-07-05           Online
4570          104570         4618       2023-07-10           Online
4581          104581         2367       2023-07-10           Online
4884          104884         4908       2023-07-23           Online
4905          104905         2285       2023-07-24           Online
4933          104933         3232       2023-07-25           Online
4934          104934         1945       2023-07-25           Online
5172          105172         1283       2023-08-04           Online
5187          105187         2706       2023-08-05           Online
5287          105287         3804       2023-08-09           Online
5302          105302         1755       2023-08-09           Online

         Merchant  Category   Amount Payment_Mode Transaction_Status  \
405          Uber  Clothing  4406.27  Credit Card           Approved
429       Walmart  Clothing  4261.50          UPI           Approved
659        Amazon  Clothing  4442.83       PayPal           Approved
785       BestBuy  Clothing  4195.20       PayPal           Approved
1025       Target  Clothing  4831.38   Debit Card           Declined
1027      Walmart  Clothing  4081.54       PayPal           Approved
1126      BestBuy  Clothing  4670.58          UPI           Approved
1457       Target  Clothing  4777.01   Debit Card           Approved
1658  Apple Store  Clothing  4980.56          UPI           Approved
1659      Netflix  Clothing  4069.62  Credit Card           Approved
1690      Netflix  Clothing  4156.73          UPI           Approved
2061      BestBuy  Clothing  4057.11  Credit Card           Approved
2107       Amazon  Clothing  4661.29       PayPal           Approved
2292  Apple Store  Clothing  4642.28       PayPal           Approved
2308       Amazon  Clothing  4854.58   Debit Card           Approved
2719      BestBuy  Clothing  4857.58  Credit Card           Approved
2737       Target  Clothing  4764.36  Credit Card           Approved
2875       Target  Clothing  4532.29   Debit Card           Approved
2910       Target  Clothing  4592.88       PayPal           Approved
2922         Uber  Clothing  4525.60          UPI           Approved
3176      BestBuy  Clothing  4352.40          UPI           Approved
3183       Amazon  Clothing  4157.62       PayPal            Pending
3339       Amazon  Clothing  4448.81       PayPal           Approved
3467       Amazon  Clothing  4944.29       PayPal           Approved
3565       Target  Clothing  4957.74       PayPal           Approved
3583       Amazon  Clothing  4513.67          UPI           Approved
3667      BestBuy  Clothing  4253.35          UPI           Approved
3886       Target  Clothing  4039.28  Credit Card           Approved
3995         Uber  Clothing  4225.81       PayPal           Declined
4165         Uber  Clothing  4898.72   Debit Card           Approved
4217         Uber  Clothing  4992.68   Debit Card           Approved
4289         Uber  Clothing  4764.35          UPI           Approved
4445       Amazon  Clothing  4500.72          UPI           Approved
4570      Netflix  Clothing  4543.87  Credit Card            Pending
4581         Uber  Clothing  4459.58   Debit Card           Declined
4884       Target  Clothing  4040.07   Debit Card           Approved
4905      Netflix  Clothing  4940.87          UPI           Approved
4933      BestBuy  Clothing  4051.45   Debit Card           Approved
4934  Apple Store  Clothing  4596.10  Credit Card           Declined
5172      Walmart  Clothing  4009.47   Debit Card           Approved
5187      Netflix  Clothing  4924.01   Debit Card           Approved
5287         Uber  Clothing  4279.66   Debit Card           Approved
5302      Walmart  Clothing  4125.59  Credit Card           Approved

                Location
405         Colemanmouth
429              Lisaton
659            East Mark
785           Matthewton
1025    Rodriguezborough
1027       North Heather
1126            Paulbury
1457     Port Pamelaview
1658        Jonathanview
1659            Juanbury
1690          Tiffanyton
2061           Millerton
2107      East Beckyland
2292           Lake Jose
2308       Hernandeztown
2719         Johnsonport
2737            Seanport
2875          Laurenbury
2910   South Markchester
2922           Banksberg
3176           Clarkland
3183         Lake Warren
3339   West Jenniferland
3467          Bensonport
3565   South Andrewmouth
3583         Andrewville
3667       Humphreyburgh
3886             Annland
3995           Darinview
4165  East Courtneymouth
4217         Muellerfort
4289         Phyllisport
4445        New Cheyenne
4570       North Anthony
4581     South Davidfurt
4884          Josephport
4905        South Kristy
4933            Mayville
4934   North Andrewmouth
5172           Port Todd
5187    South Robertport
5287         West Johnny
5302        Williamstown

NameError: name 'new_recoord' is not defined

In [74]:
# file save in csv

new_recoord = credit_data[(credit_data['Amount'] > 4000) & (credit_data['Category'] == 'Clothing') & (credit_data['Transaction_Type'] == 'Online')]

new_recoord.to_csv('new_recoord.csv', index = False)